* {
  font-family: "Public Sans", "Roboto", sans-serif;
}

.ant-spin-nested-loading {
  height: 100% !important;
  .ant-spin-container {
    height: 100% !important;
    .MuiBox-root {
      max-width: 100%;
    }
  }
}
